.__rbb-show-commnets .aui-icon {
    pointer-events: none;
}
.__rbb-show-comments .aui-icon::before {
    content: '\f11D';
}
.__rbb-show-comments .aui-icon::after,
.__rbb-show-comments.__rbb_comments_hidden .aui-icon::after {
    content: '';
    background-color: transparent;
    transform: rotate(142deg) translate3d(25%, -1px, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 160%;
    height: 10%;
    -webkit-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}
.__rbb-show-comments.__rbb_comments_hidden .aui-icon::after {
    background-color: #505f79;
}
