.__rbb-badge {
    position: absolute;
    right: 5px;
    width: 1.5em;
    height: 1.5em;
}

.__rbb-badge::before {
    content: '';
    background: #a00;
    border-radius: 1em;
    position: absolute;
    width: 100%;
    height: 100%;
}

.__rbb-badge-counter {
    color: #fff;
    font-weight: 600;
    font-size: 0.8em;
    position: absolute;
    text-align: center;
    line-height: 1.9em;
    right: 0;
    left: 0;
}

.__rbb-badge-counter.-max::before {
    content: '+';
    font-weight: 200;
}
