.__rbb-badge {
    position: absolute;
    right: 4px;
}

.__rbb-badge-counter {
    font-weight: 650;
    font-size: 10px;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    align-content: center;
    align-items: center;
    padding: 2px;
}
