.addition > .source:before {
    content: '+';
    color: #5aaf59;
    /* position: initial !important;
    border: none !important; */
    margin-right: -0.6em;
}

.deletion > .source:before {
    content: '-';
    color: #a67f59;
    /* position: initial !important;
    border: none !important; */
    margin-right: -0.6em;
}
