.__rbb-pull-request-source-branch {
    -ms-flex: none;
    flex: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    max-width: 100%;
    display: inline-block;
    line-height: 16px;
    margin-left: 1em;
}
