pre > code {
    border-radius: initial;
    display: initial;
    line-height: initial;
    margin-left: initial;
    overflow-y: initial;
    padding: initial;
}
.refract-container .deletion pre.source {
    background-color: #fff1f2 !important;
}
.refract-container .addition pre.source {
    background-color: #e8ffe8;
}
